# ========================
# Build files
# ========================
target/
build/

# ========================
# Logs
# ========================
*.log

# ========================
# Compiled files
# ========================
*.class
*.jar
*.war

# ========================
# Node
# ========================
node_modules/

# ========================
# Environment
# ========================
.env

# ========================
# IDE files
# ========================
.idea/
.vscode/
*.iml
*.project
*.classpath
.settings/

# ========================
# OS files
# ========================
.DS_Store
Thumbs.db